@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Ubuntu', sans-serif;
    }
}

.selected-card {
    border-bottom-color: #f5cb5c !important;
}


/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


.div-book-card {
    @apply flex flex-col items-start h-fit gap-2 rounded-md bg-card-background p-4 pr-7 pb-6 shadow-lg border-b-[6px] border-b-card-border min-w-fit w-full max-w-[390px];
}

.div-book-card:hover {
    @apply relative top-1 left-1
}

.div-book-info {
    @apply flex pl-5 justify-start items-center gap-4 text-card-text;
}

.div-book-info-text {
    @apply flex flex-col gap-2 justify-center;
}

.div-book-controls {
    @apply flex pl-5 w-full justify-between items-center;
}

.div-book-controls-checkbox {
    @apply flex gap-3 items-center justify-center;
}

.div-book-controls-checkbox-input {
    @apply rounded-sm bg-slate-200 border-transparent text-bar-background h-5 w-5;
}

.div-book-controls-checkbox-input:focus {
    @apply border-transparent bg-slate-200 ring-1 ring-offset-2 ring-gray-500;
}

.div-book-controls-toggle-label {
    @apply flex items-center cursor-pointer gap-2;
}

.div-book-controls-toggle-line {
    @apply w-9 h-3 bg-slate-200 rounded-full shadow-inner;
}

.div-book-controls-toggle-dot {
    @apply absolute w-5 h-5 bg-gray-400 rounded-full shadow -left-1 -top-1 transition;
}